* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: min(100% - 2rem, 640px);
  margin-inline: auto;
  background-color: rgb(208, 134, 205);
  height: 100vh;
  overflow: auto;
  padding: 1rem;
}

.container > .item {
  padding: 1rem;
  height: 100px;
  background-color: rgb(225, 188, 216);
  font-size: 3rem;
}

.container > .item + .item {
  margin-top: 3px;
}
